{% extends 'generic/partials/partial_row.html' %}
{% block remaining_row_content %}
    <td>{{ object }}</td>
     <td> <ul>
            {% for g in object.groups.all %}
                <li>
                    {{ g.name }}
                </li>
            {% endfor %}
        </ul></td>
    <td> <ul>{% for c in object.contact.all %}
                <span>
                    {{ c.reporting_location }}
                </span>
            {% endfor %}</ul></td>
    <td>{{ object.userlog.all.0.last_update|date:"m/d/Y H:i:s"}}</td>
    <td>{{ object.userlog.all.0.page_views}}</td>
    <td>{{ object.userlog.all.0.url}}</td>
    <td>{{ object.userlog.all.0.average_time_on_site|floatformat}}</td>
    <td>{{ object.userlog.all.0.average_weekly_visits|floatformat}}</td>
{% endblock %}